# Игнорировать папку виртуального окружения
venv/
# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать файлы зависимостей (если они есть)
.env
.env.local